<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-12 shadow rounded p-5">
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email">
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword" formControlName="password">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="keepLogged">
        <label class="form-check-label" for="keepLogged">Mantenha-me logado</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Entrar</button>
      <a class="" routerLink="/auth/register"> Quero me cadastrar</a>
    </form>
  </div>
</div>
