<aside class="mx-2">
  <div class="row d-flex flex-column text-white justify-content-center align-items-center bg-warning">
    <div
      class="col rounded-circle my-1 d-flex flex-column text-white justify-content-center align-items-center bg-danger">
      <span class="material-symbols-outlined">
        home
      </span>
    </div>
    <div class="col p-3 rounded my-1 d-flex flex-column text-white justify-content-center align-items-center">
      <span class="material-symbols-outlined">
      groups
      </span>
    </div>
    <div class="col p-3 rounded my-1 d-flex flex-column text-white justify-content-center align-items-center">
      <span class="material-symbols-outlined">
        calendar_month
      </span>
    </div>
  </div>
</aside>
