<aside class="mx-2 position-absolute">
  <div class="row d-flex flex-column text-white justify-content-center align-items-center">
    <div class="col p-3 rounded my-1 d-flex flex-column text-white justify-content-center align-items-center">
      <span
        class="material-symbols-outlined rounded-circle bg-secondary d-flex justify-content-center align-items-center">
        home
      </span>
    </div>
    <div class="col p-3 rounded my-1 d-flex flex-column text-white justify-content-center align-items-center">
      <span
        class="material-symbols-outlined rounded-circle bg-secondary d-flex justify-content-center align-items-center">
      groups
      </span>
    </div>
    <div class="col p-3 rounded my-1 d-flex flex-column text-white justify-content-center align-items-center">
      <span
        class="material-symbols-outlined rounded-circle bg-secondary d-flex justify-content-center align-items-center">
        calendar_month
      </span>
    </div>
  </div>
</aside>
